@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#selection{
  height: 100%;
  background-image: linear-gradient(to bottom right,#113b3a , #447271, #447271 , rgb(13, 55, 54));
  max-width:100px;
  max-width: 100vw;
  background-size: cover;
  position: relative;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  text-align: center;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  border: 1px solid #ddd;
  border-top: 2px solid #F69312;
  border-bottom: 1px solid #fff;
  background-color: #F69312;
  color: #fff;
  border-radius: 5px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}


.user-logo{
    height: 200px;
    width: auto;
    padding: 20px 10px;
}

.card-selection{
    width: 250px;
}

.caption{
    line-height: 18px;
    margin: 10px 20px;
    font-size: small;
    text-align: left;
}

.p-5-10{
    padding: 40px 60px;
}

